<hr />
<div class="panel panel-primary">
  <div class="panel-heading">Weekly Report</div>
  <div class="panel-body">
    <div class="alert alert-warning">
      <strong>Summary: </strong> <%= forecast.daily.summary %>
    </div>
    <% forecast.daily.data.each do |day| %>
    <%= link_to "javascript:void(0);", class: "weekly-report", data: { href: graph_path(date: Time.at(day.time)).to_s } do %>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="text-center"><%= convert_unix_time_to_date_format(day.time) %></div>
        <div>
          <div class="col-md-12 col-sm-12 col-xs-12 alert alert-info text-center">
            <i class= '<%= "wi " + weather_icon_class(day.icon) + " fa-2x" %>'></i>
            <div>
              <h6><%= day.temperatureMin %><sup>o</sup>C - <%= day.temperatureMax %><sup>o</sup>C </h6>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 alert alert-info text-center ">
              <ul class="list-group">
                <li class="list-group-item">Summary: <span><%= day.summary %></span></li>
                <li class="list-group-item">Dew: <span><%= day.dewPoint %><sup>o</sup>C</span></li>
                <li class="list-group-item">Humidity: <span><%= day.humidity %>%</span></li>
                <li class="list-group-item">Wind: <span><%= day.windSpeed %>km/h</span></li>
                <li class="list-group-item">Pressure: <span><%= day.pressure %>p</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<hr />
