<% if forecast && forecast.daily.present? %>
<div class="col-md-3 col-sm-3 col-xs-6">

  <div class="panel panel-primary text-center no-boder bg-color-blue">
    <div class="panel-body">
      <i class= '<%= "wi " + weather_icon_class(forecast.currently.icon) + " fa-5x"%>' ></i>
      <h3><%= forecast.currently.temperature%><sup>o</sup>C </h3>
    </div>
    <div class="panel-footer back-footer-blue">
      Current Weather
    </div>
  </div>
</div>
<div class="col-md-5 col-sm-3 col-xs-6">
  <div class="col-md-12 col-sm-12 col-xs-12 alert alert-info text-center">
    <ul class="list-group">
      <li class="list-group-item">Summary: <span class="badge"><%= forecast.currently.summary %></span></li>
      <li class="list-group-item">Dew: <span class="badge"><%= forecast.currently.dewPoint %><sup>o</sup>C</span></li>
      <li class="list-group-item">Humidity: <span class="badge"><%= forecast.currently.humidity %>%</span></li>
      <li class="list-group-item">Wind: <span class="badge"><%= forecast.currently.windSpeed %>km/h</span></li>
      <li class="list-group-item">Pressure: <span class="badge"><%= forecast.currently.pressure %>p</span></li>
    </ul>
  </div>
</div>
<div class="col-md-4 col-sm-3 col-xs-6">
  <div class="panel panel-primary text-center no-boder bg-color-blue">
    <div class="panel-body">
      <i class="fa fa-line-chart fa-9x"></i>
    </div>
    <div class="panel-footer back-footer-blue" id="graph_view" data-href= <%= graph_path(date: Time.at(forecast.currently.time).to_s) %>>
      View
    </div>
  </div>
</div>

<section id="chart-section" class="col col-md-12" style="display:none;">
</section>
<% else %>
<div>Your browser might not support google geolocation.</div>
<% end %>
